@using Ilmhub.Spaces.Client.Models
@using Ilmhub.Spaces.Client.Services

@implements IDialogContentComponent<Lead>

<EditForm Model="@Content" OnValidSubmit="@SaveAsync">
    <DataAnnotationsValidator />

    <FluentDialogBody>
        <div style="display: flex; flex-direction: column; gap: 20px; width: 100%;">
            <div>
                <FluentTextField @bind-Value="@Content.Name" Placeholder="Name" Required="true" Style="width: 100%;" />
                <FluentValidationMessage For="@(() => Content.Name)" />
            </div>

            <div>
                <FluentTextField @bind-Value="@Content.Phone" Placeholder="Phone" Required="true" Style="width: 100%;" />
                <FluentValidationMessage For="@(() => Content.Phone)" />
            </div>

            <div>
                <FluentAutocomplete TOption="LeadSource"
                                    Placeholder="Source"
                                    MaximumSelectedOptions="1"
                                    OnOptionsSearch="@(async (search) => await SearchLeadSourcesAsync(search))"
                                    OptionText="@(source => source.ToString() ?? string.Empty)"
                                    @bind-SelectedOptions="@selectedSources"
                                    Style="width: 100%;"/>
                <FluentValidationMessage For="@(() => Content.Source)" />
            </div>

            <div>
                <FluentAutocomplete TOption="Course"
                                    Placeholder="Interested Course"
                                    MaximumSelectedOptions="1"
                                    OnOptionsSearch="@(async (search) => await SearchCoursesAsync(search))"
                                    OptionText="@(course => course.Name ?? string.Empty)"
                                    @bind-SelectedOptions="@selectedCourses"
                                    Style="width: 100%;" />
                <FluentValidationMessage For="@(() => Content.Interest)" />
            </div>

            <div>
                <FluentTextArea @bind-Value="@Content.Notes" Placeholder="Notes" Style="width: 100%;" />
            </div>
        </div>
    </FluentDialogBody>

    <FluentDialogFooter>
        <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Save</FluentButton>
        <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Cancel</FluentButton>
    </FluentDialogFooter>
</EditForm>