@using Ilmhub.Spaces.Client.Models

<div class="kanban-board">
    <KanbanColumn
        Title="Created" 
        Leads="@LeadsInColumn([LeadStatus.Created])" 
        OnDrop="@((lead) => OnDrop(lead, LeadStatus.Created))" />
    <KanbanColumn 
        Title="Progress" 
        Leads="@LeadsInColumn([LeadStatus.Contacted, LeadStatus.NoContact])" 
        OnDrop="@((lead) => OnDrop(lead, LeadStatus.Contacted))" />
    <KanbanColumn 
        Title="Closed" 
        Leads="@LeadsInColumn([LeadStatus.Acquired, LeadStatus.Lost, LeadStatus.Closed])" 
        OnDrop="@((lead) => OnDrop(lead, LeadStatus.Closed))" />
</div>